
{% load static %}
{% block content %}
<!DOCTYPE html>
<body>
    <form method="POST" action="{% url 'main:upload'%}" id="change_order" enctype="multipart/form-data">
    {% csrf_token %}
    1. 제목
    <input class="form-control form-control-lg" name="name" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">
    2. 아티스트
    <input class="form-control form-control-lg"name="artist" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">
    3. 섬네일
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" name="thumbnail" type="file" id="formFile">
      </div>
    4. url
    <input class="form-control form-control-lg" name="youtube_url" type="text" placeholder=".form-control-lg" aria-label=".form-control-lg example">
    <button type="submit" name="draft" class="form-control-submit-button" id="submit-btn">변경완료</button>  
    </form>
</body>

<style>
    body {
background-color: rgb(73, 96, 111);

/* Smoothly transition the background color */
transition: background-color .5s;
}
</style>

      
{% endblock %}